.about_comp {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.about_comp p {
color: white;
position: fixed;
text-align: justify;
font-size: 20px;
width: 50%;
text-shadow: rgb(78, 78, 75) 1px 0 4px;
}

.back {
    height: 600px;
    border-radius: 30px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 3px 3px 5px rgb(20 20 20 / 80%);
    background: linear-gradient(80deg, rgb(92, 46, 46) 0%, rgb(228, 28, 28) 35%, rgb(223, 122, 55) 100%);
}



.about_comp h1 {
    font-size: 50px;
    color:white;
    display: flex;
    align-self: flex-start;
    justify-self: center;
    margin-left: 200px;
    max-height: 80%;
    text-shadow: 1px 1px 2px rgb(67, 68, 67);
    max-width: 100%;
}

.back a{
    align-self: flex-end;
    justify-self: center;
}

.back a img {
    width: 50px;
    align-self: center;
    padding-right: 70px;
    margin-bottom: 10px;
    
}

.back a img:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
}

/* .image_l{
    width: 30px;
    
} */