.footer {
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    width: 100%;
    bottom: 0px;
    background-color: rgb(87, 85, 85);
    position:relative;
    padding-bottom: 10px;
}

.image1 {
    max-width: 100%;
    width: 50px;
    position: relative;
    top: 8px; 
    right: 100px;
 
}

.image1:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
}

.image2 {
    max-width: 100%;
    width: 50px;
    position: relative;
    top: 8px; 
    left: 100px;
}

.image2:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
}
