.row{
    color: white;
    text-shadow: 1px 1px 2px rgb(64, 68, 64);
    margin-left: 20px;
}

.link {
    text-decoration:none;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    cursor: pointer;
}

.row_posters::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in all browsers but keep it working */
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-width: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row_posterLarge {
    max-height: 600px;
}

.row_posterLarge:hover {
    transform: scale(1.09);

}
